
@{
    ViewBag.Title = "PasswordLink";
}

<h2>Link umożliwiający zmianę hasła, który dotarł na twój mail:</h2>

<div class="form-group">
    <div class="col-md-10">
        @ViewBag.Link
    </div>
</div>


<input type="button" style="width:400px" value="Aktywuj proces resetowania hasła" class="btn btn-success"
       onclick="location.href = '@ViewBag.Link'" />


